<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Home</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/books">Books</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/add-book">Add Book</a>
        </li>
      </ul>
    </div>

    <div class="d-flex">
      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
