<nav *ngIf="totalPages > 1" aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="isFirstPage()">
      <button 
        class="page-link" 
        type="button"
        (click)="goToPrevious()"
        [disabled]="isFirstPage()"
        [attr.aria-label]="'Go to previous page'">
        السابق
      </button>
    </li>
    <li 
      class="page-item" 
      *ngFor="let page of getPageNumbers()" 
      [class.active]="page === currentPage">
      <button 
        class="page-link" 
        type="button"
        (click)="onPageChange(page)"
        [attr.aria-label]="'Go to page ' + page"
        [attr.aria-current]="page === currentPage ? 'page' : null">
        {{ page }}
      </button>
    </li>
    <li class="page-item" [class.disabled]="isLastPage()">
      <button 
        class="page-link" 
        type="button"
        (click)="goToNext()"
        [disabled]="isLastPage()"
        [attr.aria-label]="'Go to next page'">
        التالي
      </button>
    </li>
  </ul>
</nav>
