    <body id="page-top">
<!-- <app-navbar></app-navbar> -->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">أهلا وسهلا</div>
                <!-- <div class="masthead-heading text-uppercase">It's Nice To Meet You</div> -->
                <!-- <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a> -->
            </div>
        </header>
        <!-- <section class="page-section" id="services">
            <div class="container">
                <app-categories></app-categories>
            </div>
          </section> -->
        <section class="page-section bg-light" id="portfolio">
<div class="container">
  <app-add-book></app-add-book>
</div>
        </section>

        <section class="page-section bg-light" id="portfolio">
<div class="container">
<app-book-list></app-book-list>
</div>
        </section>

        <section class="page-section bg-light" id="portfolio">
<div class="container">
      <router-outlet></router-outlet>
</div>
        </section>
 
    </body>